<template>
  <div class="game page" @mousemove="mouseMove($event)"
       @touchmove="touchMove($event)" @mouseup="mouseUp()" @touchend="touchEnd()" @touchcancel="touchEnd()">
    <div class="board" @mousedown="mouseDown()" @touchstart="touchStart($event)">
      <canvas ref="boardCanvas" v-fullsize></canvas>
    </div>
    <div class="players gap-row-medium text-no-select">
      <div class="current-player flex-grow flex-row flex-center" :class="currentPlayer.color">
        <div class="current-player-background">
          <div class="current-player-foreground flex-column">
            <div class="name">
              {{ currentPlayer.name }}
            </div>
            <div class="points flex-row flex-center flex-grow">
              {{ playersData[currentPlayerIndex].points - accScore }}
            </div>
            <div class="scores flex-row gap-column-small">
              <div v-for="(score, index) in scores" class="score flex-column width-third" :key="index">
                <div class="text flex-row flex-center">
                  {{ score === null ? '?' : score.value }}
                </div>
                <ButtonIcon class="delete" icon="trash" color="red" @click="deleteScore(index)" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ref="playOrderEl" class="play-order flex-row overflow-auto">
        <div v-show="mountingFinished" class="list gap-column-small gap-row-small height-full">
          <div v-for="(player, index) in appDyn.players" class="player"
               :class="[player.color, { 'is-selected': index === currentPlayerIndex }]" :key="index">
            <div class="player-foreground flex-column width-full height-full">
              <div class="name">
                {{ player.name }}
              </div>
              <div class="points flex-row flex-center flex-grow">
                {{ playersData[index].points }}
              </div>
              <div class="previous-scores flex-row gap-column-small">
                <div v-for="(score, scoreIndex) in playersData[index].previousScore" class="score flex-column width-third"
                     :key="scoreIndex">
                  <div class="text flex-row flex-center">
                    {{ currentPlayerIndex === index ? '?' : (score === null ? '-' : score.value) }}
                  </div>
                  <ButtonIcon class="delete" icon="trash" color="red" @click="deleteScore(scoreIndex, index)" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { onBeforeMount, onMounted, ref, reactive, computed } from 'vue'
import { useRouter } from 'vue-router'

import ButtonIcon from '@/components/ButtonIcon.vue'

import { useSavestateStore } from '@/stores/savestate'
import { useAppDynStore } from '@/stores/appdyn'

import * as Helper from '@/canvas/helper.js'

const router = useRouter()
const savestate = useSavestateStore()
const appDyn = useAppDynStore()

onBeforeMount(() => {
  if (appDyn.players.length === 0) {
    router.push({ name: 'menu' })
  } else {
    playersData.length = 0
    for (let player of appDyn.players) {
      playersData.push({
        previousScore: [null, null, null],
        points: appDyn.points
      })
      let profile = savestate.getProfileById(player.id)
      profile.games.push({
        players: appDyn.players.map(playerValue => playerValue.id),
        won: false,
        lost: false,
        type: `${appDyn.points}-${convertVariant(appDyn.variant)}`,
        rounds: []
      })
    }
  }
})

const playOrderEl = ref(null)
const mountingFinished = ref(false)

const boardParts = reactive({
  bullsEye: null,
  bull: null,
  inner: {},
  triple: {},
  outer: {},
  double: {},
  border: null
})

const colors = reactive({
  red: [0, 0, 0],
  green: [0, 0, 0],
  black: [0, 0, 0],
  beige: [0, 0, 0],
  border: [0, 0, 0],
  wire: [0, 0, 0],
  negWire: [0, 0, 0],
  highlight: [0, 0, 0]
})

const fieldOrder = reactive([20, 1, 18, 4, 13, 6, 10, 15, 2, 17, 3, 19, 7, 16, 8, 11, 14, 9, 12, 5])
onMounted(() => {
  if (appDyn.players.length === 0) {
    return
  }

  const canvasWidth = boardCanvas.value.width
  const canvasHeight = boardCanvas.value.height
  const onePart = canvasWidth / 450

  const rootNode = document.querySelector(':root')
  const rootStyles = getComputedStyle(rootNode)
  colors.red = rootStyles.getPropertyValue('--board-red').replaceAll(/(.*\(|\)| )/g, '').split(',')
  colors.green = rootStyles.getPropertyValue('--board-green').replaceAll(/(.*\(|\)| )/g, '').split(',')
  colors.black = rootStyles.getPropertyValue('--board-black').replaceAll(/(.*\(|\)| )/g, '').split(',')
  colors.beige = rootStyles.getPropertyValue('--board-beige').replaceAll(/(.*\(|\)| )/g, '').split(',')
  colors.border = rootStyles.getPropertyValue('--board-border').replaceAll(/(.*\(|\)| )/g, '').split(',')
  colors.wire = rootStyles.getPropertyValue('--board-wire').replaceAll(/(.*\(|\)| )/g, '').split(',')
  colors.negWire = rootStyles.getPropertyValue('--board-neg-wire').replaceAll(/(.*\(|\)| )/g, '').split(',')
  colors.highlight = rootStyles.getPropertyValue('--board-highlight').replaceAll(/(.*\(|\)| )/g, '').split(',')

  boardContext.value = boardCanvas.value.getContext('2d')

  boardParts.bullsEye = Helper.getCanvasCircle(canvasWidth / 2, canvasHeight / 2, onePart * 6.35)
  boardParts.bull = Helper.getCanvasCirclePart(
    canvasWidth / 2, canvasHeight / 2, onePart * 15.9, Math.PI * 2, onePart * 9.55
  )

  for (let i = 0; i < fieldOrder.length; i++) {
    const number = fieldOrder[i]
    boardParts.inner[number] = Helper.getCanvasCirclePart(
      canvasWidth / 2, canvasHeight / 2, onePart * 99, Math.PI * 0.1, onePart * 83.1, Math.PI * ((i * 0.1) - 0.55)
    )
    boardParts.triple[number] = Helper.getCanvasCirclePart(
      canvasWidth / 2, canvasHeight / 2, onePart * 107, Math.PI * 0.1, onePart * 8, Math.PI * ((i * 0.1) - 0.55)
    )
    boardParts.outer[number] = Helper.getCanvasCirclePart(
      canvasWidth / 2, canvasHeight / 2, onePart * 162, Math.PI * 0.1, onePart * 55, Math.PI * ((i * 0.1) - 0.55)
    )
    boardParts.double[number] = Helper.getCanvasCirclePart(
      canvasWidth / 2, canvasHeight / 2, onePart * 170, Math.PI * 0.1, onePart * 8, Math.PI * ((i * 0.1) - 0.55)
    )
  }

  boardParts.border = Helper.getCanvasCirclePart(
    canvasWidth / 2, canvasHeight / 2, onePart * 225, Math.PI * 2, onePart * 55
  )

  requestAnimationFrame(newTS => animationLoop(newTS))
  mountingFinished.value = true
})

function scrollToPlayer (index) {
  if (playOrderEl.value) {
    playOrderEl.value.firstElementChild.children[index].scrollIntoView({
      block: 'nearest', inline: 'nearest', behavior: 'smooth'
    })
  }
}

const currentPlayerIndex = ref(0)
const currentPlayer = computed(() => {
  if (appDyn.players.length === 0 || currentPlayerIndex.value >= appDyn.players.length) {
    return {
      name: 'Error',
      color: 'green'
    }
  }
  return appDyn.players[currentPlayerIndex.value]
})
const scores = reactive([null, null, null])
const accScore = computed(() => {
  return scores.reduce((acc, score) => score === null ? 0 + acc : score.value + acc, 0)
})
const playersData = reactive([{
  previousScore: [null, null, null],
  points: 501
}])
const stash = reactive({
  scores: [null, null, null],
  currentPlayer: -1
})

const scoreTimeout = ref(false)
const scoreAnimTimer = ref(0)
function addScore (highlightedPart) {
  if (scoreTimeout.value) {
    return
  }
  scoreTimeout.value = true
  setTimeout(() => {
    scoreTimeout.value = false
    scoreAnimTimer.value = 0
    mouseInfo.posX = 0
    mouseInfo.posY = 0
  }, 750)
  let newScore = []
  let profileGame = savestate.getGameByProfileId(appDyn.players[currentPlayerIndex.value].id)
  let free = scores.findIndex((value) => value === null)
  scores[free] = convertScore(highlightedPart)
  const accScore = scores.reduce((acc, score) => score === null ? 0 + acc : score.value + acc, 0)
  if (scores.findIndex((value) => value === null) === -1 || accScore > playersData[currentPlayerIndex.value].points) {
    for (let i = 0; i < scores.length; i++) {
      playersData[currentPlayerIndex.value].previousScore[i] = scores[i]
      newScore.push(Object.assign({}, scores[i]))
    }
    profileGame.rounds.push(newScore)
    if (accScore <= playersData[currentPlayerIndex.value].points) {
      playersData[currentPlayerIndex.value].points -= accScore
      if (playersData[currentPlayerIndex.value].points === 0) {
        appDyn.winner = currentPlayerIndex.value
        profileGame.won = true
        for (let i = 0; i < appDyn.players.length; i++) {
          if (i !== currentPlayerIndex.value) {
            let otherProfileGame = savestate.getGameByProfileId(appDyn.players[i].id)
            otherProfileGame.lost = true
          }
        }
        savestate.saveData()
        router.push({ name: 'statistics' })
        return
      }
    }
    for (let i = 0; i < scores.length; i++) {
      scores[i] = null
    }
    if (stash.currentPlayer !== -1) {
      currentPlayerIndex.value = stash.currentPlayer
      scrollToPlayer(currentPlayerIndex.value)
      stash.currentPlayer = -1
      for (let i = 0; i < stash.scores.length; i++) {
        scores[i] = stash.scores[i]
        stash.scores[i] = null
      }
    } else {
      currentPlayerIndex.value = (currentPlayerIndex.value + 1) % appDyn.players.length
      scrollToPlayer(currentPlayerIndex.value)
    }
  } else if (accScore === playersData[currentPlayerIndex.value].points) {
    for (let i = 0; i < 3; i++) {
      playersData[currentPlayerIndex.value].previousScore[i] = scores[i]
      newScore.push(Object.assign({}, scores[i]))
    }
    profileGame.rounds.push(newScore)
    playersData[currentPlayerIndex.value].points -= accScore
    for (let i = 0; i < scores.length; i++) {
      scores[i] = null
    }
    appDyn.winner = currentPlayerIndex.value
    profileGame.won = true
    for (let i = 0; i < appDyn.players.length; i++) {
      if (i !== currentPlayerIndex.value) {
        let otherProfileGame = savestate.getGameByProfileId(appDyn.players[i].id)
        otherProfileGame.lost = true
      }
    }
    savestate.saveData()
    router.push({ name: 'statistics' })
  }
}

function deleteScore (index, playerIndex = -1) {
  if (playerIndex === -1) {
    scores[index] = null
  } else {
    stash.currentPlayer = currentPlayerIndex.value
    for (let i = 0; i < scores.length; i++) {
      stash.scores[i] = scores[i]
      if (index === i) {
        scores[i] = null
      } else {
        scores[i] = playersData[playerIndex].previousScore[i]
      }
    }
    playersData[playerIndex].points += playersData[playerIndex].previousScore.reduce(
      (acc, score) => score === null ? 0 + acc : score.value + acc,
      0
    )
    currentPlayerIndex.value = playerIndex
    scrollToPlayer(currentPlayerIndex.value)
    let profileGame = savestate.getGameByProfileId(appDyn.players[currentPlayerIndex.value].id)
    profileGame.rounds.pop()
  }
}

const boardCanvas = ref(null)
const boardContext = ref(null)
const zoomActive = ref(false)
const animationData = {
  lag: 0,
  startTS: 0,
  refreshrate: 1000 / 60,
  frameNo: 0,
  partHighlighted: ''
}

function animationLoop (timestamp) {
  if (!boardCanvas.value) {
    return
  }
  requestAnimationFrame((newTS => animationLoop(newTS)))

  const timeDiff = timestamp - animationData.startTS
  if (timeDiff > 0 && animationData.startTS > 0) {
    animationData.lag += timeDiff
  }

  while (animationData.lag > animationData.refreshrate) {
    animationData.frameNo += 1

    animationUpdate()

    if (animationData.lag > animationData.refreshrate * 5) {
      animationData.lag %= animationData.refreshrate
    } else {
      animationData.lag -= animationData.refreshrate
    }
  }

  boardContext.value.clearRect(0, 0, boardCanvas.value.width, boardCanvas.value.height)
  animationDraw()

  animationData.startTS = timestamp
}

function animationUpdate () {
  if (scoreTimeout.value) {
    scoreAnimTimer.value += 2 - Math.floor(scoreAnimTimer.value / 10)
  }

  if (boardContext.value.isPointInPath(boardParts.bullsEye, mouseInfo.posX, mouseInfo.posY)) {
    animationData.partHighlighted = 'bullsEye'
    return
  } else if (boardContext.value.isPointInPath(boardParts.bull, mouseInfo.posX, mouseInfo.posY)) {
    animationData.partHighlighted = 'bull'
    return
  } else if (boardContext.value.isPointInPath(boardParts.border, mouseInfo.posX, mouseInfo.posY)) {
    animationData.partHighlighted = 'border'
    return
  }

  for (let i = 0; i < fieldOrder.length; i++) {
    const number = fieldOrder[i]
    if (boardContext.value.isPointInPath(boardParts.inner[number], mouseInfo.posX, mouseInfo.posY)) {
      animationData.partHighlighted = `inner${number}`
      return
    } else if (boardContext.value.isPointInPath(boardParts.triple[number], mouseInfo.posX, mouseInfo.posY)) {
      animationData.partHighlighted = `triple${number}`
      return
    } else if (boardContext.value.isPointInPath(boardParts.outer[number], mouseInfo.posX, mouseInfo.posY)) {
      animationData.partHighlighted = `outer${number}`
      return
    } else if (boardContext.value.isPointInPath(boardParts.double[number], mouseInfo.posX, mouseInfo.posY)) {
      animationData.partHighlighted = `double${number}`
      return
    }
  }

  animationData.partHighlighted = ''
}

function animationDraw () {
  const canvasWidth = boardCanvas.value.width
  const canvasHeight = boardCanvas.value.height
  const onePart = canvasWidth / 450
  const highlighted = animationData.partHighlighted
  let transformed = false
  
  if (zoomActive.value) {
    boardContext.value.setTransform(4, 0, 0, 4, 0, 0)
    boardContext.value.translate(-mouseInfo.posX * 0.75, -mouseInfo.posY * 0.75)
    transformed = true
  }
  Helper.drawCanvasCircleCustom(
    highlighted === 'bullsEye' ? colors.highlight.join(', ') : colors.red.join(', '),
    boardContext.value, boardParts.bullsEye
  )
  Helper.drawCanvasCircleCustom(
    highlighted === 'bull' ? colors.highlight.join(', ') : colors.green.join(', '),
    boardContext.value, boardParts.bull
  )
  for (let i = 0; i < fieldOrder.length; i++) {
    const number = fieldOrder[i]
    Helper.drawCanvasCirclePartCustom(
      highlighted === `inner${number}` ? colors.highlight.join(', ') : (
        i % 2 === 0 ? colors.black.join(', ') : colors.beige.join(', ')
      ), boardContext.value, boardParts.inner[number]
    )
    Helper.drawCanvasCirclePartCustom(
      highlighted === `triple${number}` ? colors.highlight.join(', ') : (
        i % 2 === 0 ? colors.red.join(', ') : colors.green.join(', ')
      ), boardContext.value, boardParts.triple[number]
    )
    Helper.drawCanvasCirclePartCustom(
      highlighted === `outer${number}` ? colors.highlight.join(', ') : (
        i % 2 === 0 ? colors.black.join(', ') : colors.beige.join(', ')
      ), boardContext.value, boardParts.outer[number]
    )
    Helper.drawCanvasCirclePartCustom(
      highlighted === `double${number}` ? colors.highlight.join(', ') : (
        i % 2 === 0 ? colors.red.join(', ') : colors.green.join(', ')
      ), boardContext.value, boardParts.double[number]
    )
  }
  Helper.drawCanvasCircleCustom(
    highlighted === 'border' ? colors.highlight.join(', ') : colors.border.join(', '),
    boardContext.value, boardParts.border
  )

  Helper.drawCanvasCircleBorderCustom(
    canvasWidth / 2, canvasHeight / 2, onePart * 6.35, colors.wire.join(', '), onePart * 1.6, boardContext.value
  )
  Helper.drawCanvasCircleBorderCustom(
    canvasWidth / 2, canvasHeight / 2, onePart * 15.9, colors.wire.join(', '), onePart * 1.6, boardContext.value
  )
  Helper.drawCanvasCircleBorderCustom(
    canvasWidth / 2, canvasHeight / 2, onePart * 99, colors.wire.join(', '), onePart * 1.6, boardContext.value
  )
  Helper.drawCanvasCircleBorderCustom(
    canvasWidth / 2, canvasHeight / 2, onePart * 107, colors.wire.join(', '), onePart * 1.6, boardContext.value
  )
  Helper.drawCanvasCircleBorderCustom(
    canvasWidth / 2, canvasHeight / 2, onePart * 162, colors.wire.join(', '), onePart * 1.6, boardContext.value
  )
  Helper.drawCanvasCircleBorderCustom(
    canvasWidth / 2, canvasHeight / 2, onePart * 170, colors.wire.join(', '), onePart * 1.6, boardContext.value
  )
  Helper.drawCanvasCircleBorderCustom(
    canvasWidth / 2, canvasHeight / 2, onePart * 211, colors.wire.join(', '), onePart * 3, boardContext.value
  )
  for (let i = 0; i < fieldOrder.length; i++) {
    boardContext.value.translate(canvasWidth / 2, canvasHeight / 2)
    boardContext.value.rotate(Math.PI * ((i * 0.1) + 0.05))
    Helper.drawCanvasLineCustom(
      0, -(onePart * 15.9), colors.wire.join(', '), onePart * 1.6, 'round', [],
      boardContext.value, 1, 0, -(onePart * 170)
    )
    boardContext.value.rotate(-Math.PI * 0.05)
    if (i >= 6 && i <= 14) {
      boardContext.value.translate(0, -onePart * 200)
      boardContext.value.rotate(Math.PI)
      Helper.drawCanvasTextCustom(
        0, 0, fieldOrder[i].toString(), colors.wire.join(', '), 'center', 'middle',
        `${onePart * 8.5}mm 'Tw Cen MT'`, boardContext.value
      )
      boardContext.value.rotate(Math.PI)
      boardContext.value.translate(0, onePart * 200)
    } else {
      Helper.drawCanvasTextCustom(
        0, -onePart * 200, fieldOrder[i].toString(), colors.wire.join(', '), 'center', 'middle',
        `${onePart * 8.5}mm 'Tw Cen MT'`, boardContext.value
      )
    }
    boardContext.value.rotate(-Math.PI * (i * 0.1))
    boardContext.value.translate(-canvasWidth / 2, -canvasHeight / 2)
  }
  if (transformed) {
    Helper.drawCanvasTextCustom(
      canvasWidth / 2, canvasHeight / 2, '50', colors.wire.join(', '), 'center', 'middle',
      `${onePart * 1.5}mm 'Tw Cen MT'`, boardContext.value
    )
    Helper.drawCanvasTextCustom(
      canvasWidth / 2, canvasHeight / 2 - (onePart * 10.5), '25', colors.wire.join(', '), 'center', 'middle',
      `${onePart * 1.5}mm 'Tw Cen MT'`, boardContext.value
    )
    for (let i = 0; i < fieldOrder.length; i++) {
      const number = fieldOrder[i].toString()
      boardContext.value.translate(canvasWidth / 2, canvasHeight / 2)
      boardContext.value.rotate(Math.PI * (i * 0.1))
      if (i >= 6 && i <= 14) {
        boardContext.value.translate(0, -onePart * 57.45)
        boardContext.value.rotate(Math.PI)
        Helper.drawCanvasTextCustom(
          0, 0, number, i % 2 === 0 ? colors.wire.join(', ') : colors.negWire.join(', '), 'center', 'middle',
          `${onePart * 1.5}mm 'Tw Cen MT'`, boardContext.value
        )
        boardContext.value.rotate(Math.PI)
        boardContext.value.translate(0, onePart * 57.45)
        boardContext.value.translate(0, -onePart * 103)
        boardContext.value.rotate(Math.PI)
        Helper.drawCanvasTextCustom(
          0, 0, `${number} x 3`, colors.wire.join(', '), 'center', 'middle',
          `${onePart * 1.5}mm 'Tw Cen MT'`, boardContext.value
        )
        boardContext.value.rotate(Math.PI)
        boardContext.value.translate(0, onePart * 103)
        boardContext.value.translate(0, -onePart * 134.5)
        boardContext.value.rotate(Math.PI)
        Helper.drawCanvasTextCustom(
          0, 0, number, i % 2 === 0 ? colors.wire.join(', ') : colors.negWire.join(', '), 'center', 'middle',
          `${onePart * 1.5}mm 'Tw Cen MT'`, boardContext.value
        )
        boardContext.value.rotate(Math.PI)
        boardContext.value.translate(0, onePart * 134.5)
        boardContext.value.translate(0, -onePart * 166)
        boardContext.value.rotate(Math.PI)
        Helper.drawCanvasTextCustom(
          0, 0, `${number} x 2`, colors.wire.join(', '), 'center', 'middle',
          `${onePart * 1.5}mm 'Tw Cen MT'`, boardContext.value
        )
        boardContext.value.rotate(Math.PI)
        boardContext.value.translate(0, onePart * 166)
      } else {
        Helper.drawCanvasTextCustom(
          0, -onePart * 57.45, number, i % 2 === 0 ? colors.wire.join(', ') : colors.negWire.join(', '),
          'center', 'middle', `${onePart * 1.5}mm 'Tw Cen MT'`, boardContext.value
        )
        Helper.drawCanvasTextCustom(
          0, -onePart * 103, `${number} x 3`, colors.wire.join(', '),
          'center', 'middle', `${onePart * 1.5}mm 'Tw Cen MT'`, boardContext.value
        )
        Helper.drawCanvasTextCustom(
          0, -onePart * 134.5, number, i % 2 === 0 ? colors.wire.join(', ') : colors.negWire.join(', '),
          'center', 'middle', `${onePart * 1.5}mm 'Tw Cen MT'`, boardContext.value
        )
        Helper.drawCanvasTextCustom(
          0, -onePart * 166, `${number} x 2`, colors.wire.join(', '),
          'center', 'middle', `${onePart * 1.5}mm 'Tw Cen MT'`, boardContext.value
        )
      }
      boardContext.value.rotate(-Math.PI * (i * 0.1))
      boardContext.value.translate(-canvasWidth / 2, -canvasHeight / 2)
    }

    boardContext.value.translate(mouseInfo.posX * 0.75, mouseInfo.posY * 0.75)
    boardContext.value.setTransform(1, 0, 0, 1, 0, 0)
  }

  if (scoreTimeout.value) {
    Helper.drawCanvasCircle(mouseInfo.posX, mouseInfo.posY, scoreAnimTimer.value, '147, 2, 41', boardContext.value)
    Helper.drawCanvasCircleBorder(
      mouseInfo.posX, mouseInfo.posY, scoreAnimTimer.value, '0, 0, 0', 3, 'round', [], boardContext.value
    )
  }
}

const mouseInfo = reactive({
  posX: 0,
  posY: 0,
  touchIdentifier: null,
  timer: null,
  touchMoved: false
})
function mouseDown () {
  if (scoreTimeout.value) {
    return
  }
  console.log('mousedown')
  mouseInfo.timer = setTimeout(() => {zoomActive.value = true}, 250)
}

function mouseMove (event) {
  if (scoreTimeout.value) {
    return
  }
  console.log('mousemove')
  if (boardCanvas.value) {
    const canvasRect = boardCanvas.value.getBoundingClientRect()
    mouseInfo.posX = event.pageX - canvasRect.left
    mouseInfo.posY = event.pageY - canvasRect.top
  }
}

function mouseUp () {
  if (scoreTimeout.value) {
    return
  }
  console.log('mouseup')
  // console.log(animationData.partHighlighted)
  if (animationData.partHighlighted !== '') {
    addScore(animationData.partHighlighted)
  }
  clearTimeout(mouseInfo.timer)
  mouseInfo.timer = null
  zoomActive.value = false
}

function touchStart (event) {
  if (scoreTimeout.value) {
    return
  }
  console.log('touchstart')
  for (let touch of event.changedTouches) {
    if (mouseInfo.touchIdentifier === null) {
      mouseInfo.touchIdentifier = touch.identifier
      if (boardCanvas.value) {
        const canvasRect = boardCanvas.value.getBoundingClientRect()
        mouseInfo.posX = touch.pageX - canvasRect.left
        mouseInfo.posY = touch.pageY - canvasRect.top
      }
      mouseInfo.timer = setTimeout(() => {zoomActive.value = true}, 250)
    }
  }
}

function touchMove (event) {
  if (scoreTimeout.value) {
    return
  }
  console.log('touchmove')
  if (boardCanvas.value) {
    const canvasRect = boardCanvas.value.getBoundingClientRect()
    for (let touch of event.changedTouches) {
      if (touch.identifier === mouseInfo.touchIdentifier) {
        mouseInfo.posX = touch.pageX - canvasRect.left
        mouseInfo.posY = touch.pageY - canvasRect.top
        mouseInfo.touchMoved = true
      }
    }
  }
}

function touchEnd () {
  if (scoreTimeout.value) {
    return
  }
  console.log('touchend')
  if (animationData.partHighlighted !== '') { 
    // console.log(animationData.partHighlighted)
    addScore(animationData.partHighlighted)
  }
  mouseInfo.touchMoved = false
  mouseInfo.touchIdentifier = null
  clearTimeout(mouseInfo.timer)
  mouseInfo.timer = null
  zoomActive.value = false
}

function convertScore (score) {
  let points = 0
  if (score.startsWith('inner')) {
    points = parseInt(score.replace('inner', ''))
  } else if (score.startsWith('outer')) {
    points = parseInt(score.replace('outer', ''))
  } else if (score.startsWith('double')) {
    points = parseInt(score.replace('double', '')) * 2
  } else if (score.startsWith('triple')) {
    points = parseInt(score.replace('triple', '')) * 3
  } else if (score === 'bull') {
    points = 25
  } else if (score === 'bullsEye') {
    points = 50
  }
  return {
    type: score,
    value: points
  }
}

function convertVariant (variant) {
  return variant.replace(/[A-Z]/g, '-$&').toLowerCase()
}
</script>