<template>
  <div class="page menu flex-column gap-row-small">
    <div v-show="updateIcon !== ''" class="update-icon">
      <i class="fas" :class="'fa-' + updateIcon"></i>
    </div>
    <div class="title">
      {{ getText('menuTitle') }}
    </div>
    <div class="player flex-row gap-column-small">
      <div class="label flex-row flex-center-h padding-right-medium">
        {{ getText('menuPlayersLabel') }}
      </div>
      <div v-show="appDyn.players.length > 0" class="entries flex-row overflow-auto gap-column-small">
        <div v-for="(player, index) in appDyn.players" class="entry-background" :class="player.color" :key="index">
          <div class="entry-foreground flex-column">
            <div class="image flex-row flex-center">
              <div class="circle flex-row flex-center">
                <i class="fas" :class="'fa-' + player.icon"></i>
              </div>
            </div>
            <div class="name flex-row">
              <div class="name-text flex-grow">
                {{ player.name }}
              </div>
            </div>
            <div class="stats flex-grow flex-column">
              <div class="title text-center">
                {{ getText('menuPlayerStatistics') }}
              </div>
              <div class="flex-row gap-column-small">
                <div class="flex-row width-half flex-center" :title="getText('menuPlayerStatisticsWins')">
                  <i class="fas fa-medal"></i>
                  <div class="value flex-row flex-grow">
                    {{ getPlayerData(player.id, 'wins') }}
                  </div>
                </div>
                <div class="flex-row width-half flex-center" :title="getText('menuPlayerStatisticsAccuracy')">
                  <i class="fas fa-bullseye"></i>
                  <div class="value flex-row flex-grow">
                    {{ getPlayerData(player.id, 'accuracy') }}
                  </div>
                </div>
              </div>
              <div class="flex-row gap-column-small">
                <div class="flex-row width-half flex-center" :title="getText('menuPlayerStatisticsLoses')">
                  <i class="fas fa-poo"></i>
                  <div class="value flex-row flex-grow">
                    {{ getPlayerData(player.id, 'loses') }}
                  </div>
                </div>
                <div class="flex-row width-half flex-center" :title="getText('menuPlayerStatisticsGames')">
                  <i class="fas fa-dice"></i>
                  <div class="value flex-row flex-grow">
                    {{ getPlayerData(player.id, 'games') }}
                  </div>
                </div>
              </div>
            </div>
            <div class="button-container flex-row gap-column-small">
              <ButtonIcon class="move-left flex-row flex-center" icon="arrow-left" color="action" @click="movePlayer(index, -1)" />
              <ButtonIcon class="delete flex-row flex-center flex-grow" icon="trash" color="red" @click="removePlayer(index)" />
              <ButtonIcon class="move-left flex-row flex-center" icon="arrow-right" color="action" @click="movePlayer(index, 1)" />
            </div>
          </div>
        </div>
      </div>
      <div class="new-player">
        <ButtonIcon class="add" icon="plus-circle" color="green" @click="showPlayerSelection()" />
      </div>
    </div>
    <div class="point-goal flex-row gap-column-small">
      <div class="label">
        {{ getText('menuSelectionPoints') }}
      </div>
      <div class="select flex-row flex-center">
        <select @change="setPoints($event.target.value)">
          <option v-for="(points, index) in appConst.points" :selected="points === appDyn.points" :value="points" :key="index">
            {{ points }}
          </option>
        </select>
        <div class="icon flex-column flex-center no-event">
          <i class="fas fa-angle-down"></i>
        </div>
      </div>
    </div>
    <div class="variant flex-row gap-column-small">
      <div class="label">
        {{ getText('menuSelectionVariant') }}
      </div>
      <div class="select flex-row flex-center">
        <select @change="setVariant($event.target.value)">
          <option v-for="(variant, index) in appConst.variants" :selected="variant === appDyn.variant" :value="variant" :key="index">
            {{ getText(variant) }}
          </option>
        </select>
        <div class="icon flex-column flex-center no-event">
          <i class="fas fa-angle-down"></i>
        </div>
      </div>
    </div>
    <ButtonBasic class="start-button" text="menuStartButton" color="green" @click="startGame()" :disabled="noPlayers" />
    <ButtonBasic class="options-button" text="menuOptionsButton" color="action" @click="showOptions()" />
    <Teleport to="#modal-dest">
      <ModalOptions :is-visible="optionsModalVisible" variant="options" @close="hideOptions()" />
    </Teleport>
    <Teleport to="#modal-dest">
      <ModalProfileSelection :is-visible="playerSelectionVisible" @close="hidePlayerSelection()" @add="addPlayer($event)" />
    </Teleport>
  </div>
</template>

<script setup>
import { computed, ref } from 'vue'
import { useRouter } from 'vue-router'

import ButtonBasic from '@/components/ButtonBasic.vue'
import ButtonIcon from '@/components/ButtonIcon.vue'
import ModalOptions from '@/components/ModalOptions.vue'
import ModalProfileSelection from '@/components/ModalProfileSelection.vue'

import { useSavestateStore } from '@/stores/savestate'
import { useAppDynStore } from '@/stores/appdyn'
import { useAppConstStore } from '@/stores/appconst'

const router = useRouter()
const savestate = useSavestateStore()
const appDyn = useAppDynStore()
const appConst = useAppConstStore()

const playerSelectionVisible = ref(false)
function showPlayerSelection () {
  playerSelectionVisible.value = true
}

function hidePlayerSelection () {
  playerSelectionVisible.value = false
}

const availableProfiles = computed(() => {
  return savestate.profiles.filter(profile => {
    return !appDyn.players.includes(profile)
  })
})

const newProfileModalVisible = ref(false)
function showNewProfileModal () {
  newProfileModalVisible.value = true
}

function editProfile () {
  console.log('edit')
}

function hideNewProfileModal () {
  newProfileModalVisible.value = false
}

function addPlayer (indices) {
  let profiles = []
  for (const index of indices) {
    profiles.push(availableProfiles.value[index])
  }
  appDyn.players = profiles
  hidePlayerSelection()
}

function movePlayer (index, direction) {
  if (index === 0 && direction === -1) {
    let player = appDyn.players.shift()
    appDyn.players.push(player)
  } else if (index === appDyn.players.length - 1 && direction === 1) {
    let player = appDyn.players.pop()
    appDyn.players.unshift(player)
  } else {
    let player = appDyn.players.splice(index + direction, 1)
    appDyn.players.splice(index, 0, player[0])
  }

}

function removePlayer (index) {
  appDyn.players.splice(index, 1)
}

function getPlayerData (playerId, type) {
  const profile = savestate.getProfileById(playerId)
  if (!profile) {
    return 0
  }

  const games = profile.games.filter(game => {
    if (game.players.length !== appDyn.players.length) {
      return false
    }
    for (const player of appDyn.players) {
      if (!game.players.includes(player.id)) {
        return false
      }
    }
    return true
  })

  if (games.length === 0) {
    return 0
  }

  switch (type) {
    case 'wins':
      return games.reduce((wins, game) => {
        if (game.won) {
          wins += 1
        }
        return wins
      }, 0)
    case 'loses':
      return games.reduce((loses, game) => {
        if (game.lost) {
          loses += 1
        }
        return loses
      }, 0)
    case 'accuracy':
      let values = games.reduce((val, game) => {
        game.rounds.forEach(round => {
          round.forEach(points => {
            if (points.value) {
              val.amount += 1
              val.value += points.value
            }
          })
        })
        return val
      }, { amount: 0, value: 0 })
      return (values.value / values.amount).toFixed(1)
    case 'games':
      return games.length
    default:
      return 0
  }
}

const noPlayers = computed(() => {
  return appDyn.players.length === 0
})

function setPoints (points) {
  appDyn.points = points
}

function setVariant (variant) {
  appDyn.variant = variant
}

function startGame () {
  router.push({ name: 'game' })
}

const optionsModalVisible = ref(false)
function showOptions () {
  optionsModalVisible.value = true
}

function hideOptions () {
  optionsModalVisible.value = false
}

function getText (id) {
  return appConst.getText(id)
}

const updateIcon = computed(() => {
  if (appDyn.updateFinished) { //update finished and you need to restart now
    return 'arrows-rotate'
  } else if (appDyn.newUpdate) { //update is downloading...
    return 'download'
  } else if (appDyn.updateAvailable) { //update available if auto update is turned off
    return 'circle-info'
  } else if (appDyn.updateSuccess) { //after restart of app and successful update
    return 'check'
  }
  return ''
})
</script>