<template>
  <div class="statistics page flex-column flex-center gap-row-small">
    <canvas ref="confetti" id="confetti" class="confetti no-event" v-fullsize2></canvas>
    <div class="title">
      Winner
    </div>
    <div class="name">
      {{ winnerData.name }}
    </div>
    <i class="fa-solid fa-trophy"></i>
    <ButtonIcon class="back-to-menu" icon="house" color="green" @click="navTo()" />
  </div>
</template>

<script setup>
import { ref, computed, onMounted, onUnmounted } from 'vue'
import { useRouter } from 'vue-router'

import ButtonIcon from '@/components/ButtonIcon.vue'

import { useAppDynStore } from '@/stores/appdyn'

import Confetti from "canvas-confetti";

const router = useRouter()
const appDyn = useAppDynStore()

const confetti = ref(null)
const confettiCanvas = ref(null)
let confettiInterval = ref(null)

onMounted(() => {
  confettiCanvas.value = Confetti.create(confetti.value, { resize: false, useWorker: false})
  confettiInterval.value = setInterval(() => {
    confettiCanvas.value({
      startVelocity: 20,
      particleCount: 150,
      spread: 360,
      ticks: 60,
      scalar: 0.9,
      shapes: ['star', 'square', 'circle'],
      origin: {
        x: Math.random() * 0.6 + 0.2,
        y: Math.random() * 0.4 + 0.2
      }
    })
  }, 450)
})

onUnmounted(() => {
  clearInterval(confettiInterval.value)
  appDyn.winner = null
})

const winnerData = computed(() => {
  if (appDyn.winner !== null) {
    return appDyn.players[appDyn.winner]
  }
  return {
    name: 'Error'
  }
})

function navTo () {
  router.push({ name: 'menu' })
}
</script>