<template>
  <button class="button flex-row flex-center" :class="[props.color]" @click="$emit('click')">
    <span class="icon">
      <i class="fas" :class="'fa-' + props.icon"></i>
    </span>
  </button>
</template>

<script setup>
const props = defineProps({
    icon: String,
    color: String
})
defineEmits(['click'])
</script>
