<template>
  <TheModalContainer :is-visible="props.isVisible" title="optionsModalTitle" @close="$emit('close')">
    <template #default>
      <div class="language flex-row gap-column-small">
        <div class="label flex-row flex-center-h">
          {{ getText('menuSelectionVariant') }}
        </div>
        <div class="select flex-row flex-center flex-grow">
          <select @change="setLanguage($event.target.value)">
            <option v-for="(values, languageKey) in appConst.texts" :selected="languageKey === savestate.lang" :value="languageKey" :key="languageKey">
              {{ getText(languageKey) }}
            </option>
          </select>
          <div class="icon flex-column flex-center no-event">
            <i class="fas fa-angle-down"></i>
          </div>
        </div>
      </div>
      <div class="danger-button flex-column flex-center">
        <ButtonBasic :text="dangerAreaButtonText" color="red" @click="toggleDangerArea()" />
      </div>
      <div v-show="dangerAreaVisible" class="danger-area flex-column gap-row-small">
        <div class="delete-profiles flex-grow flex-row overflow-hidden gap-column-small">
          <div class="label flex-row flex-center-h">
            {{ getText('optionsModalDeleteProfilesLabel') }}
          </div>
          <div class="profiles flex-row flex-grow flex-wrap overflow-auto gap-small">
            <div v-for="profile in savestate.profiles" class="profile flex-column flex-center gap-row-mini"
                :class="[{ 'is-selected': options.profilesToDelete.includes(profile.id) }, profile.color]"
                :key="profile.id" @click="selectProfile(profile.id)">
              <div class="header flex-row">
                <div class="icon flex-row flex-center">
                  <i class="fas" :class="'fa-' + profile.icon"></i>
                </div>
                <div class="name flex-row flex-grow flex-center-h">
                  {{ profile.name }}
                </div>
              </div>
              <div class="info flex-column flex-grow width-full flex-center-v">
                <div class="date flex-row gap-column-mini">
                  <div class="label">
                    {{ getText('optionsModalProfileCreationDate') }}
                  </div>
                  <div class="value flex-grow">
                    {{ getDate(profile.creationDate) }}
                  </div>
                </div>
                <div class="games flex-row gap-column-mini">
                  <div class="label">
                    {{ getText('optionsModalProfileGames') }}
                  </div>
                  <div class="value flex-grow">
                    {{ profile.games.length.toLocaleString() }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="delete-all">
          <ButtonBasic :class="{ 'active': options.deleteAll }" text="optionsModalDeleteAll"
                        :color="options.deleteAll ? 'red-dark' : 'red'"
                        :icon="options.deleteAll ? 'check' : 'times'" @click="toggleDeleteAll()" />
        </div>
      </div>
    </template>
    <template #buttons>
      <ButtonIcon class="width-full" icon="times" color="red" @click="navTo()" />
      <ButtonIcon class="width-full" icon="check" color="green" @click="navTo(true)" />
    </template>
  </TheModalContainer>
</template>

<script setup>
import { reactive, ref, computed } from 'vue'

import TheModalContainer from '@/components/TheModalContainer.vue'
import ButtonBasic from '@/components/ButtonBasic.vue'
import ButtonIcon from '@/components/ButtonIcon.vue'

import { useSavestateStore } from '@/stores/savestate'
import { useAppConstStore } from '@/stores/appconst'

const savestate = useSavestateStore()
const appConst = useAppConstStore()

const props = defineProps({
  isVisible: Boolean
})
const emit = defineEmits(['close'])

const options = reactive({
  language: null,
  profilesToDelete: [],
  deleteAll: false
})
function setLanguage (newLanguageKey) {
  options.language = newLanguageKey
}

function toggleDeleteAll () {
  options.deleteAll = !options.deleteAll
}

const dangerAreaVisible = ref(false)
function toggleDangerArea () {
  dangerAreaVisible.value = !dangerAreaVisible.value
}

const dangerAreaButtonText = computed(() => {
  if (dangerAreaVisible.value) {
    return getText('optionsModalDangerAreaButtonActive')
  }
  return getText('optionsModalDangerAreaButtonInactive')
})

function getDate (creationDate) {
  if (creationDate) {
    let date = new Date(creationDate)
    return `${
      addZero(date.getDate())
    }.${
      addZero(date.getMonth() + 1)
    }.${
      date.getFullYear()
    } ${
      addZero(date.getHours())
    }:${
      addZero(date.getMinutes())
    }`
  }
  return '00.00.0000 00:00'
}

function addZero (number) {
  return number > 9 ? number.toString() : '0' + number.toString()
}

function selectProfile (profileId) {
  if (options.profilesToDelete.includes(profileId)) {
    options.profilesToDelete = options.profilesToDelete.filter(id => id !== profileId)
  } else {
    options.profilesToDelete.push(profileId)
  }
}

function getText (id, ...params) {
  return appConst.getText(id, ...params)
}

function navTo (saveOptions = false) {
  if (saveOptions) {
    if (options.deleteAll) {
      savestate.resetData()
    } else {
      if (options.language !== null) {
        savestate.lang = options.language
      }
      if (options.profilesToDelete.length > 0) {
        savestate.deleteProfilesByIds(options.profilesToDelete)
      }
    }
    savestate.saveData()
  }
  emit('close')
  if (dangerAreaVisible.value) {
    toggleDangerArea()
  }
}
</script>