<template>
  <TheModalContainer :is-visible="props.isVisible" title="profileModalTitle" @close="$emit('close')">
    <template #default>
      <div class="name flex-row gap-column-small">
        <div class="label flex-row flex-center-h">
          {{ getText('profileModalNameLabel') }}
        </div>
        <input class="name-input flex-grow" type="text" v-model="profile.name"
                :placeholder="getText('profileModalNamePlaceholder', savestate.profiles.length + 1)" />
      </div>
      <div class="color-selection flex-row gap-column-small">
        <div class="label flex-row flex-center-h">
          {{ getText('profileModalColorLabel') }}
        </div>
        <div class="colors flex-row flex-grow flex-wrap overflow-auto">
          <div v-for="color in appConst.colors" class="color flex-row flex-center"
              :class="{ 'is-selected': color === profile.color }" :key="color" @click="selectColor(color)">
            <div :class="color"></div>
          </div>
        </div>
      </div>
      <div class="icon-selection flex-row gap-column-small">
        <div class="label flex-row flex-center-h">
          {{ getText('profileModalIconLabel') }}
        </div>
        <div class="icons flex-row flex-grow flex-wrap overflow-auto">
          <div v-for="icon in appConst.icons" class="icon flex-row flex-center"
              :class="{ 'is-selected': icon === profile.icon }" :key="icon" @click="selectIcon(icon)">
            <i class="fas" :class="'fa-' + icon"></i>
          </div>
        </div>
      </div>
    </template>
    <template #buttons>
      <ButtonIcon class="width-full" icon="times" color="red" @click="navTo()" />
      <ButtonIcon class="width-full" icon="check" color="green" @click="navTo(true)" />
    </template>
  </TheModalContainer>
</template>

<script setup>
import { reactive } from 'vue'

import TheModalContainer from '@/components/TheModalContainer.vue'
import ButtonIcon from '@/components/ButtonIcon.vue'

import { useSavestateStore } from '@/stores/savestate'
import { useAppConstStore } from '@/stores/appconst'

const emit = defineEmits(['close'])

const savestate = useSavestateStore()
const appConst = useAppConstStore()

const props = defineProps({
  isVisible: Boolean
})

const profile = reactive({
  id: 0,
  name: '',
  color: 'green-dark',
  icon: 'hippo',
  games: [],
  creationDate: 0,
  reset: () => {
    profile.name = ''
    profile.color = 'green-dark'
    profile.icon = 'hippo'
  }
})

function selectColor (color) {
  profile.color = color
}

function selectIcon (icon) {
  profile.icon = icon
}

function getText (id, ...params) {
  return appConst.getText(id, ...params)
}

function navTo (saveProfile = false) {
  if (saveProfile) {
    if (profile.name === '') {
      profile.name = 'Player' + (savestate.profiles.length + 1)
    }
    if (profile.color === '') {
      profile.color = 'green-dark'
    }
    if (profile.icon === '') {
      profile.icon = 'hippo'
    }
    profile.id = savestate.getFreeId
    profile.creationDate = Date.now()
    savestate.profiles.push(Object.assign({}, profile))
    savestate.profiles.sort((a, b) => {
      if (a.name.toLowerCase() > b.name.toLowerCase()) {
        return 1
      } else if (a.name.toLowerCase() < b.name.toLowerCase()) {
        return -1
      }
      return 0
    })
    savestate.saveData()
  }
  profile.reset()
  emit('close')
}
</script>