<template>
  <TheModalContainer :is-visible="$props.isVisible" title="menuSelectionProfiles" variant="player-selection"
                     @close="$emit('close')">
    <template #default>
      <div class="profiles flex-grow flex-row flex-wrap overflow-x-auto gap-small">
        <div v-for="(profile, index) in availableProfiles" class="profile flex-column"
             :class="[profile.color, { 'selected': selectedProfiles.includes(index) }]"
             @click="selectProfile(index)" :key="index">
          <div class="image flex-row flex-center">
            <div class="circle flex-row flex-center">
              <i class="fas" :class="'fa-' + profile.icon"></i>
            </div>
          </div>
          <div class="name overflow-auto" :title="profile.name">
            <span>
              {{ profile.name }}
            </span>
          </div>
        </div>
        <div v-if="availableProfiles.length === 0" class="flex-row flex-center">
          {{ getText('profileSelectionNoProfiles') }}
        </div>
      </div>
    </template>
    <template #buttons>
      <ButtonIcon class="width-full" icon="times" color="red" @click="$emit('close')" />
      <ButtonIcon class="width-full" icon="plus" color="green" @click="showNewProfileModal()" />
      <ButtonIcon class="width-full" icon="check" color="green" @click="confirmProfiles()" />
    </template>
  </TheModalContainer>
  <Teleport to="#modal-dest">
    <ModalNewProfile :is-visible="newProfileModalVisible" @close="hideNewProfileModal()" />
  </Teleport>
</template>

<script setup>
import { ref, computed } from 'vue'

import TheModalContainer from '@/components/TheModalContainer.vue'
import ButtonIcon from '@/components/ButtonIcon.vue'
import ModalNewProfile from '@/components/ModalNewProfile.vue'

import { useSavestateStore } from '@/stores/savestate'
import { useAppDynStore } from '@/stores/appdyn'
import { useAppConstStore } from '@/stores/appconst'

const savestate = useSavestateStore()
const appDyn = useAppDynStore()
const appConst = useAppConstStore()

const props = defineProps({
  isVisible: Boolean
})
const emit = defineEmits(['close', 'add'])

const availableProfiles = computed(() => {
  return savestate.profiles.filter(profile => {
    return !appDyn.players.includes(profile)
  })
})

const newProfileModalVisible = ref(false)
function showNewProfileModal () {
  newProfileModalVisible.value = true
}

function hideNewProfileModal () {
  newProfileModalVisible.value = false
}

const selectedProfiles = ref([])
function selectProfile (index) {
  if (selectedProfiles.value.includes(index)) {
    selectedProfiles.value = selectedProfiles.value.filter(profileIndex => profileIndex !== index)
  } else {
    selectedProfiles.value.push(index)
  }
}

function confirmProfiles () {
  emit('add', selectedProfiles.value)
  selectedProfiles.value = []
}

function getText (id, ...params) {
  return appConst.getText(id, ...params)
}
</script>
