<template>
  <transition enter-active-class="animate__animated animate__fadeIn duration-c-350ms"
              leave-active-class="animate__animated animate__fadeOut duration-c-350ms">
    <div v-if="props.isVisible" class="modal-background absolute events" @click="$emit('close')"></div>
  </transition>
  <transition enter-active-class="animate__animated animate__fadeInUp duration-c-350ms"
              leave-active-class="animate__animated animate__fadeOutDown duration-c-350ms">
    <div v-if="props.isVisible" class="modal-foreground-border absolute events" :class="props.variant">
      <div class="modal-foreground flex-column">
        <div class="title flex-row flex-center">
          {{ getText(props.title) }}
        </div>
        <div class="data flex-grow flex-column">
          <slot></slot>
        </div>
        <div class="buttons flex-row">
          <slot name="buttons"></slot>
        </div>
      </div>
    </div>
  </transition>
</template>

<script setup>
import { useAppConstStore } from '@/stores/appconst'

const appConst = useAppConstStore()

const props = defineProps({
  isVisible: Boolean,
  title: String,
  variant: {
    type: String,
    default: ''
  }
})
const emit = defineEmits(['close'])

function getText (id, ...params) {
  return appConst.getText(id, ...params)
}
</script>
