@charset "utf-8";
@import "./../../node_modules/animate.css/animate.min.css";
@import "./customAnimations.scss";

html, body {
  overflow: hidden;
  height: 100%;
}

#app {
  height: 100%;
}

.flex {
  &-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    &-reverse {
      flex-direction: row-reverse;
    }
  }

  &-column {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-grow {
    flex-grow: 1;
  }

  &-shrink {
    flex-shrink: 0;
  }

  &-center {
    justify-content: center;
    align-items: center;
  }

  &-center-h {
    align-items: center;
  }

  &-center-v {
    justify-content: center;
  }
}

$dir: 'row' 'column';

.gap {
  @for $i from 1 through length($dir) {
    &-#{nth($dir, $i)} {
      &-mini {
        #{nth($dir, $i)}-gap: 4px;
      }

      &-small {
        #{nth($dir, $i)}-gap: 8px;
      }

      &-medium {
        #{nth($dir, $i)}-gap: 16px;
      }

      &-large {
        #{nth($dir, $i)}-gap: 24px;
      }
    }
  }
  &-mini {
    row-gap: 4px;
    column-gap: 4px;
  }

  &-small {
    row-gap: 8px;
    column-gap: 8px;
  }

  &-medium {
    row-gap: 16px;
    column-gap: 16px;
  }

  &-large {
    row-gap: 24px;
    column-gap: 24px;
  }
}

.text {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.width {
  &-full {
    width: 100%;
  }

  &-half {
    width: 50%;
  }

  &-third {
    width: calc(100% / 3);

    &-two {
      width: calc(100% / 1.5);
    }
  }

  &-fourth {
    width: calc(100% / 4);
  }

  &-fifth {
    width: calc(100% / 5);

    &-four {
      width: calc(100% / 1.25);
    }
  }

  &-eighth {
    width: calc(100% / 8);
  }
}

.height {
  &-full {
    height: 100%;
  }

  &-half {
    height: 50%;
  }

  &-third {
    height: calc(100% / 3);
  }

  &-fourth {
    height: calc(100% / 4);
  }

  &-fifth {
    height: calc(100% / 5);

    &-four {
      height: calc(100% / 1.25);
    }
  }

  &-eighth {
    height: calc(100% / 8);
  }

  &-none {
    height: 0;
  }
}

.overflow {
  &-auto {
    overflow: auto;
  }

  &-hidden {
    overflow: hidden;
  }

  &-y- {
    &auto {
      overflow-y: auto;
    }

    &hidden {
      overflow-y: hidden;
    }
  }

  &-x- {
    &auto {
      overflow-x: auto;
    }

    &hidden {
      overflow-x: hidden;
    }
  }
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.sticky {
  position: sticky;
}

$pos: 'top' 'left' 'right' 'bottom';

.margin {
  @for $i from 1 through length($pos) {
    &-#{nth($pos, $i)} {
      &-mini {
        margin-#{nth($pos, $i)}: 4px;
      }

      &-small {
        margin-#{nth($pos, $i)}: 8px;
      }
  
      &-medium {
        margin-#{nth($pos, $i)}: 16px;
      }
  
      &-large {
        margin-#{nth($pos, $i)}: 24px;
      }
    }
  }

  &-mini {
    margin: 4px;
  }

  &-small {
    margin: 8px;
  }

  &-medium {
    margin: 16px;
  }

  &-large {
    margin: 24px;
  }
}

.padding {
  @for $i from 1 through length($pos) {
    &-#{nth($pos, $i)} {
      &-mini {
        padding-#{nth($pos, $i)}: 4px;
      }

      &-small {
        padding-#{nth($pos, $i)}: 8px;
      }
  
      &-medium {
        padding-#{nth($pos, $i)}: 16px;
      }
  
      &-large {
        padding-#{nth($pos, $i)}: 24px;
      }
    }
  }

  &-mini {
    padding: 4px;
  }

  &-small {
    padding: 8px;
  }

  &-medium {
    padding: 16px;
  }

  &-large {
    padding: 24px;
  }
}

.no-event {
  pointer-events: none;
}

.events {
  pointer-events: all;
}

$times: 100ms 200ms 300ms 350ms 400ms 500ms 700ms 800ms 1s 5s;

.delay {
  &-c- {
    @for $i from 1 through length($times) {
      &#{nth($times, $i)} {
        animation-delay: nth($times, $i);
      }
    }
  }
}

.duration {
  &-c- {
    @for $i from 1 through length($times) {
      &#{nth($times, $i)} {
        animation-duration: nth($times, $i);
      }
    }
  }
}