<template>
  <div ref="fullEl" class="height-full width-full">
    <div class="flex-grow height-full relative width-full">
      <router-view v-slot="{ Component }">
        <transition enter-active-class="animate__animated animate__slideInRight"
                    leave-active-class="animate__animated animate__slideOutLeft">
          <component :is="Component" />
        </transition>
      </router-view>
      <div id="modal-dest" class="modal width-full height-full absolute no-event flex-row flex-center"></div>
    </div>
  </div>
</template>

<script setup>
import { onBeforeMount, onMounted, ref } from 'vue'

import { useSavestateStore } from '@/stores/savestate'
import { useAppDynStore } from '@/stores/appdyn'

const savestate = useSavestateStore()
const appDyn = useAppDynStore()

onBeforeMount(() => {
  if (navigator.serviceWorker) {
    navigator.serviceWorker.onmessage = (event) => {
      if (event.data) {
        switch (event.data.type) {
          case 'newUpdate':
            appDyn.newUpdate = true
            break
          case 'updateFinished':
            if (savestate.missedUpdates && savestate.allowUpdates) {
              savestate.missedUpdates = false
              savestate.updateSuccessful = true
              savestate.saveData()
              location.reload()
            } else {
              savestate.updateSuccessful = true
              savestate.saveData()
              appDyn.updateFinished = true
            }
            break
          default:
        }
      }
    }
  }
})

const fullEl = ref(null)
onMounted(() => {
  savestate.loadData()
  const rootNode = document.querySelector(':root')
  const height = fullEl.value.offsetHeight
  const width = fullEl.value.offsetWidth
  if (height < width) {
    rootNode.style.fontSize = `${height * (0.25 + (Math.abs(height - 1080) * 0.0004))}px`
  } else {
    rootNode.style.fontSize = `${width * (0.25 + (Math.abs(width - 1080) * 0.0004))}px`
  }
  
  if (navigator.serviceWorker) {
    navigator.serviceWorker.getRegistration().then((registration) => {
      if (registration && !registration.waiting && savestate.missedUpdates) {
        if (savestate.allowUpdates) {
          appDyn.newUpdate = true
          setTimeout(() => {
            navigator.serviceWorker.controller.postMessage({
              type: 'update'
            })
          }, 3000)
        } else {
          appDyn.updateAvailable = true
          savestate.missedUpdates = true
        }
      }
    })
  }
})
</script>

<style lang="scss" src="@/assets/custom.scss"></style>
<style lang="css" src="@/assets/fontawesome/css/all.min.css"></style>
<style lang="scss" src="@/assets/themes/basic.scss"></style>