@charset "utf-8";
@use "sass:color";
@use "sass:string";


@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-ExtraLight.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Light.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Black.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/NunitoHeavy-Regular.ttf") format("truetype");
  font-weight: 900;
}

$color-background-light: linear-gradient(180deg, color.scale(#b9b0fd, $lightness: 20%), color.scale(#71d4bc, $lightness: 20%)) !default;
$color-background: linear-gradient(180deg, #b9b0fd, #71d4bc) !default;
$color-background-dark: linear-gradient(180deg, color.scale(#b9b0fd, $lightness: -20%), color.scale(#71d4bc, $lightness: -20%)) !default;
$color-font: #000000 !default;
$color-border: #222222 !default;
$color-green-dark: #1d571d !default;
$color-green: #228b22 !default;
$color-green-light: #62be62 !default;
$color-red-dark: #97161c !default;
$color-red: #cd212a !default;
$color-red-light: lighten($color-red, 15) !default;
$color-blue: #2d30af !default;
$color-blue-dark: darken($color-blue, 25) !default;
$color-blue-light: lighten($color-blue, 25) !default;
$color-yellow: #d3c612 !default;
$color-yellow-dark: darken($color-yellow, 25) !default;
$color-yellow-light: lighten($color-yellow, 25) !default;
$color-magenta: #c90ec9 !default;
$color-magenta-dark: darken($color-magenta, 15) !default;
$color-magenta-light: lighten($color-magenta, 25) !default;
$color-action: #0f726b !default;
$color-hovered: #2d879e !default;
$color-selected: #bf8013 !default;
$color-font-modal: #d4d4d4 !default;

$color-board-beige: rgb(216, 216, 178) !default;
$color-board-black: rgb(14, 14, 14) !default;
$color-board-green: rgb(19, 104, 19) !default;
$color-board-red: rgb(207, 27, 27) !default;
$color-board-border: rgb(0, 0, 0) !default;
$color-board-wire: rgb(225, 225, 229) !default;
$color-board-neg-wire: rgb(30, 30, 34) !default;
$color-board-highlight: rgb(255, 162, 0) !default;

$colors: 'green-dark' $color-green-dark, 'green' $color-green, 'green-light' $color-green-light,
  'red-dark' $color-red-dark, 'red' $color-red, 'red-light' $color-red-light,
  'blue-dark' $color-blue-dark, 'blue' $color-blue, 'blue-light' $color-blue-light,
  'yellow-dark' $color-yellow-dark, 'yellow' $color-yellow, 'yellow-light' $color-yellow-light,
  'magenta-dark' $color-magenta-dark, 'magenta' $color-magenta, 'magenta-light' $color-magenta-light,
  'action' $color-action, 'selected' $color-selected, 'hovered' $color-hovered;

:root {
  --board-red: #{$color-board-red};
  --board-green: #{$color-board-green};
  --board-black: #{$color-board-black};
  --board-beige: #{$color-board-beige};
  --board-border: #{$color-board-border};
  --board-wire: #{$color-board-wire};
  --board-neg-wire: #{$color-board-neg-wire};
  --board-highlight: #{$color-board-highlight};

  font-size: 100px;
}

html, body {
  background: $color-background;
  color: $color-font;
  font-family: Nunito;
  font-weight: 300;
  box-sizing: border-box;
  margin: 0;
}

html * {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  scrollbar-width: thin;
  scrollbar-color: #333 transparent;

  &::-webkit-scrollbar {
    width: 0.0207rem;
    height: 0.0207rem;
    position: absolute;
    transition-property: width, height;
    transition-duration: 350ms;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 0.018rem;
    border: 3px solid transparent;
  }
}

button {
  margin: 0px;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 100vw;
}

.update-icon {
  position: absolute;
  top: .1rem;
  left: .1rem;
  font-size: .075rem;
  display: flex;
}

.button {
  .icon {
    margin-bottom: -1px;
  }
  .icon:not(:last-child) {
    margin-right: 4px;
  }
}

.menu {
  justify-content: center;
  align-items: center;

  > .title {
    font-size: 0.24rem;
    font-weight: 500;
  }

  .player {
    max-width: 100%;

    .label {
      font-size: 0.09rem;
      min-width: 0.5rem;
      justify-content: flex-end;
    }

    .entries {
      height: 0.77rem;

      .entry-background {
        border-radius: 0.035rem;

        .entry-foreground {
          height: calc(100% - 0.023rem);
          border-radius: 0.023rem;
          margin: 0.012rem;

          .image {
            width: 0.47rem;
            height: 0.296rem;
  
            .circle {
              width: 0.296rem;
              height: 100%;
  
              .fas {
                font-size: 0.084rem;
              }
            }
          }

          .name {
            background: rgba(255, 255, 255, 0.4);
            border-radius: 0.012rem;
            margin: 0 0.012rem;
            max-width: 0.47rem;
            box-shadow: 0px 0px 4px 2px #00000014;
  
            .name-text {
              font-size: 0.054rem;
              text-transform: uppercase;
              padding: 0.006rem 0.015rem;
              text-align: center;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }

          .stats {
            background: rgba(0, 0, 0, 0.25);
            border-radius: 0.012rem;
            margin: 0.012rem 0.012rem 0;
            color: rgb(212, 212, 212);
            font-size: 0.055rem;
            padding: 0.012rem;
            
            .value {
              justify-content: end;
            }
          }

          .button-container {
            margin: 0.012rem;
            column-gap: 0.012rem;

            > * {
              border-radius: 0.012rem;
              background: rgba(255, 255, 255, 0.4);
              border: none;
              cursor: pointer;
              font-size: 0.06rem;
              height: 0.083rem;
              box-shadow: 0px 0px 4px 2px #00000014;

              @each $color in $colors {
                &.#{nth($color, 1)} {
                  color: nth($color, 2);
    
                  &:hover {
                    color: #ffffff;
                    background: transparentize(nth($color, 2), 0.5);
                  }
                }
              }
            }
          }
        }

        @each $color in $colors {
          &.#{nth($color, 1)} {
            $top-color: #978a5d31;
            $transparent-color: transparentize(nth($color, 2), 0.5);
            background: linear-gradient(180deg, color.scale($top-color, $lightness: 10%), color.scale($transparent-color, $lightness: 10%));

            .entry-foreground {
              background: linear-gradient(180deg, color.scale($top-color, $lightness: -20%), color.scale($transparent-color, $lightness: -20%));
            }

            .image {
              .circle {
                background: radial-gradient(nth($color, 2) 15%, transparent 50%);

                .fas {
                  @if string.index(nth($color, 1), "-dark") != null {
                    color: rgb(212, 212, 212);
                  } @else {
                    color: #000000;
                  }
                }
              }
            }
          }
        }
      }
    }
    .new-player {
      position: relative;
      height: 0.77rem;
      min-width: 0.5rem;
      
      .add {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 0.12rem;
        background-color: transparent;
        border: none;
        border-radius: 0.0355rem;
        cursor: pointer;
  
        @each $color in $colors {
          &.#{nth($color, 1)} {
            color: nth($color, 2);
  
            &:hover {
              color: #ffffff;
              background: linear-gradient(180deg, transparentize(nth($color, 2), 0.75), transparentize(nth($color, 2), 0.4));
            }
          }
        }
      }
    }
  }


  .point-goal {
    font-size: 0.09rem;

    .label {
      min-width: 0.5rem;
      text-align: right;
    }

    .select {
      width: 0.75rem;
      position: relative;

      select {
        appearance: none;
        width: 100%;
        border: none;
        background: linear-gradient(180deg, transparentize($color-action, 0.9), transparentize($color-action, 0.4));
        border-radius: 0.0355rem;
        font-size: 0.09rem;
        height: 0.11rem;
        text-align: right;
        padding: 0 0.09rem 0 0.01rem;
        cursor: pointer;
      }

      .icon {
        position: absolute;
        right: 0.01rem;
        top: 0.025rem;
        font-size: 0.08rem;
      }
    }
  }

  .variant {
    font-size: 0.09rem;

    .label {
      min-width: 0.5rem;
      text-align: right;
    }

    .select {
      width: 0.75rem;
      position: relative;

      select {
        appearance: none;
        width: 100%;
        border: none;
        background: linear-gradient(180deg, transparentize($color-action, 0.9), transparentize($color-action, 0.4));
        border-radius: 0.0355rem;
        font-size: 0.09rem;
        height: 0.11rem;
        text-align: right;
        padding: 0 0.09rem 0 0.01rem;
        cursor: pointer;
      }

      .icon {
        position: absolute;
        right: 0.01rem;
        top: 0.025rem;
        font-size: 0.08rem;
      }
    }
  }

  .start-button {
    max-width: 1.775rem;
    width: 60%;
    height: 0.237rem;
    font-size: 0.144rem;
    border: none;
    border-radius: 0.0355rem;
    cursor: pointer;

    @each $color in $colors {
      &.#{nth($color, 1)} {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.6));

        &:hover:not(:disabled) {
          color: #111111;
          background-color: transparentize(nth($color, 2), 0.3);
        }

        &:disabled {
          color: rgba(0, 0, 0, 0.25);
          background: linear-gradient(180deg, rgba(155, 155, 155, 0.35), rgba(155, 155, 155, 0.9));
          cursor: not-allowed;
        }
      }
    }
  }

  .options-button {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    width: 0.5rem;
    height: 0.12rem;

    font-size: 0.075rem;
    border: none;
    border-radius: 0.0355rem;
    cursor: pointer;

    @each $color in $colors {
      &.#{nth($color, 1)} {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.6));

        &:hover:not(:disabled) {
          color: #111111;
          background-color: transparentize(nth($color, 2), 0.3);
        }

        &:disabled {
          color: rgba(0, 0, 0, 0.25);
          background: linear-gradient(180deg, rgba(155, 155, 155, 0.35), rgba(155, 155, 155, 0.9));
          cursor: not-allowed;
        }
      }
    }
  }
}

.modal {
  .modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .modal-foreground-border {
    background: $color-background-dark;
    padding: 0.018rem;
    max-width: 1.775rem;
    width: 1.775rem;
    border-radius: 0.047rem;

    &.options {
      min-width: 1.8rem;
    }

    &.player-selection {
      background: linear-gradient(180deg, transparentize(#888888, 0.75), transparentize(#555555, 0.4));
      max-width: 2.775rem;

      .modal-foreground {
        background: linear-gradient(180deg, transparentize(#555555, 0.75), transparentize(#222222, 0.4));

        .data {
          background: rgba(0, 0, 0, 0.25);
        }

        .buttons {
          > .button {
            background: rgba(255, 255, 255, 0.4);

            @each $color in $colors {
              &.#{nth($color, 1)} {
                &:hover {
                  background: transparentize(nth($color, 2), 0.5);
                }
              }
            }
          }
        }
      }
    }

    .modal-foreground {
      width: 100%;
      height: 100%;
      border-radius: 0.0296rem;
      row-gap: 0.018rem;
      background: linear-gradient(180deg, transparentize(#ffffff, 0.7), transparentize(#ffffff, 0.6));
  
      .title {
        font-size: 0.108rem;
        font-weight: 600;
        background: rgba(255, 255, 255, 0.4);
        margin: 0.018rem 0.018rem 0;
        width: calc(100% - 0.0355rem);
        height: 0.148rem;
        border-radius: 0.012rem;
        box-shadow: 0px 0px 4px 2px #00000014;
      }
  
      .data {
        background: rgba(0, 0, 0, 0.35);
        border-radius: 0.012rem;
        margin: 0 0.018rem;
        padding: 0.018rem;
        row-gap: 0.0207rem;
        box-shadow: 0px 0px 4px 2px #00000014;

        > .name {
          width: 100%;
          height: 0.1243rem;
    
          .label {
            width: 0.355rem;
            justify-content: right;
            color: $color-font-modal;
            font-size: 0.06rem;
          }
  
          .name-input {
            border: none;
            background: rgba(255, 255, 255, 0.5);
            height: 0.1243rem;
            border-radius: 0.012rem;
            padding: 0 0.0266rem;
            font-size: 0.048rem;
          }
        }
    
        .color-selection {
          width: 100%;
          height: 0.2485rem;
    
          .label {
            min-width: 0.355rem;
            justify-content: right;
            color: rgb(212, 212, 212);
            font-size: 0.06rem;
          }
    
          .colors {
            background: rgba(255, 255, 255, 0.5);
            border-radius: 0.012rem;
            padding: 0.012rem;
            align-content: start;

            .color {
              width: 0.0887rem;
              height: 0.0887rem;
              cursor: pointer;
  
              &:hover {
                border: 0.006rem solid $color-hovered;
              }
              
              &.is-selected {
                border: 0.006rem solid $color-selected;
              }
    
              @each $color in $colors {
                .#{nth($color, 1)} {
                  background-color: nth($color, 2);
                  width: 0.0651rem;
                  height: 0.0651rem;
                  border-radius: 100%;
                }
              }
            }
          }
        }
    
        .icon-selection {
          width: 100%;
          height: 0.2485rem;
    
          .label {
            min-width: 0.355rem;
            justify-content: right;
            color: rgb(212, 212, 212);
            font-size: 0.06rem;
          }
    
          .icons {
            background: rgba(255, 255, 255, 0.5);
            border-radius: 0.012rem;
            padding: 0.012rem;
            align-content: start;

            .icon {
              width: 0.0887rem;
              height: 0.0887rem;
              cursor: pointer;
              font-size: 0.06rem;
  
              &:hover {
                border: 0.006rem solid $color-hovered;
              }
    
              &.is-selected {
                border: 0.006rem solid $color-selected;
              }
            }
          }
        }

        > .profiles {
          border-radius: 0.012rem;
          padding: 0.012rem;

          .profile {
            width: 0.34rem;
            cursor: pointer;
            border-radius: 0.023rem;

            .image {
              width: 0.34rem;
              height: 0.291rem;

              .circle {
                width: 0.3rem;
                height: 100%;
  
                .fas {
                  font-size: 0.1rem;
                }
              }
            }

            > .name {
              text-transform: uppercase;
              font-size: 0.048rem;
              text-align: center;
              line-height: 0.069rem;
              vertical-align: middle;
              width: calc(100% - 0.024rem);
              border-radius: 0.012rem;
              margin: 0.012rem;
              padding: 0 0.012rem;
              box-shadow: 0px 0px 4px 2px #00000014;
              background: rgba(255, 255, 255, 0.4);
              flex-grow: 1;
              max-height: 0.138rem;
              display: flex;
              justify-content: center;
              align-items: center;

              > span {
                margin: auto;
                word-wrap: anywhere;
              }
            }

            &:hover, &.selected {
              border: 0.009rem solid $color-hovered;

              .image {
                margin: -0.007rem -0.007rem 0;
              }

              .name {
                width: calc(100% - 0.01rem);
                margin-left: 0.005rem;
                margin-bottom: 0.005rem;
              }
            }

            @each $color in $colors {
              &.#{nth($color, 1)} {
                $top-color: #978a5d31;
                $transparent-color: transparentize(nth($color, 2), 0.5);
                background: linear-gradient(180deg, color.scale($top-color, $lightness: 10%), color.scale($transparent-color, $lightness: 20%));

                .image {
                  .circle {
                    background: radial-gradient(nth($color, 2) 15%, transparent 55%);

                    .fas {
                      @if string.index(nth($color, 1), "-dark") != null {
                        color: rgb(212, 212, 212);
                      } @else {
                        color: #000000;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .language {
          width: 100%;
          height: 0.1243rem;

          .label {
            width: 0.355rem;
            justify-content: right;
            color: $color-font-modal;
            font-size: 0.06rem;
          }

          .select {
            position: relative;
      
            select {
              appearance: none;
              width: 100%;
              border: none;
              background: rgba(255, 255, 255, 0.5);
              border-radius: 0.012rem;
              font-size: 0.06rem;
              height: 0.1243rem;
              padding: 0 0.06rem 0 0.04rem;
              cursor: pointer;
            }
      
            .icon {
              position: absolute;
              right: 0.01rem;
              top: 0.045rem;
              font-size: 0.05rem;
            }
          }
        }

        .danger-button {
          height: 0.1243rem;

          > .button {
            border-radius: 0.012rem;
            border: none;
            font-size: 0.06rem;
            height: 100%;
            width: 0.8rem;
            cursor: pointer;
            background: rgba(255, 255, 255, 0.6);
            box-shadow: 0px 0px 4px 2px #00000014;
      
            @each $color in $colors {
              &.#{nth($color, 1)} {
                color: nth($color, 2);
        
                &:hover {
                  color: #ffffff;
                  background-color: transparentize(nth($color, 2), 0.4);
                }
              }
            }
          }
        }

        .danger-area {
          font-size: 0.06rem;
          border: 2px solid $color-red;
          border-radius: 0.012rem;
          max-height: 1rem;

          .delete-profiles {
            >.label {
              min-width: 0.355rem;
              justify-content: right;
              color: $color-font-modal;
              font-size: 0.06rem;
              text-align: right;
            }

            >.profiles {
              >.profile {
                width: 0.6rem;
                border-radius: 0.024rem;
                padding: 0.012rem;
                cursor: pointer;

                >.header {
                  width: 100%;
                  height: 0.09rem;
                  font-size: 0.06rem;

                  >.icon {
                    width: 0.09rem;
                    flex-shrink: 0;
                  }

                  >.name {
                    height: 100%;
                    background: rgba(255, 255, 255, 0.4);
                    box-shadow: 0px 0px 4px 2px #00000014;
                    border-radius: 0.012rem;
                    padding-left: 0.01rem;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                  }
                }

                .info {
                  background: rgba(0, 0, 0, 0.4);
                  box-shadow: 0px 0px 4px 2px #00000014;
                  border-radius: 0.012rem;
                  padding: 0.008rem;
                  row-gap: 0.008rem;

                  .date {
                    .label {
                      font-size: 0.04rem;
                      width: 0.2rem;
                      text-align: right;
                      color: $color-font-modal;
                    }
  
                    .value {
                      font-size: 0.04rem;
                      background: rgba(255, 255, 255, 0.4);
                      padding: 0 0.006rem;
                      border-radius: 0.006rem;
                    }
                  }
  
                  .games {
                    .label {
                      font-size: 0.04rem;
                      width: 0.2rem;
                      text-align: right;
                      color: $color-font-modal;
                    }
  
                    .value {
                      font-size: 0.04rem;
                      background: rgba(255, 255, 255, 0.4);
                      padding: 0 0.006rem;
                      border-radius: 0.006rem;
                    }
                  }
                }

                &.is-selected {
                  border: 0.012rem solid $color-selected;
                  padding: 0;
                }

                @each $color in $colors {
                  &.#{nth($color, 1)} {
                    $top-color: #978a5d31;
                    $transparent-color: transparentize(nth($color, 2), 0.5);
                    background: linear-gradient(180deg, color.scale($top-color, $lightness: 10%), color.scale($transparent-color, $lightness: 20%));
                  }
                }
              }
            }
          }

          .delete-all {
            height: 0.1243rem;

            > .button {
              border-radius: 0.006rem;
              border: none;
              font-size: 0.06rem;
              height: 100%;
              width: 100%;
              cursor: pointer;
              background: rgba(255, 255, 255, 0.6);
              box-shadow: 0px 0px 4px 2px #00000014;
        
              @each $color in $colors {
                &.#{nth($color, 1)} {
                  color: nth($color, 2);
          
                  &:hover {
                    color: #ffffff;
                    background-color: transparentize(nth($color, 2), 0.4);
                  }

                  &.active {
                    color: #ffffff;
                    background-color: transparentize(nth($color, 2), 0.4);
                  }
                }
              }
            }
          }
        }
      }
  
      .buttons {
        column-gap: 0.018rem;
        margin: 0 0.018rem 0.018rem;
        width: calc(100% - 0.0355rem);
        height: 0.083rem;

        > .button {
          border-radius: 0.012rem;
          border: none;
          font-size: 0.06rem;
          height: 100%;
          cursor: pointer;
          background: rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 4px 2px #00000014;
    
          @each $color in $colors {
            &.#{nth($color, 1)} {
              color: nth($color, 2);
      
              &:hover {
                color: #ffffff;
                background: transparentize(nth($color, 2), 0.4);
              }
            }
          }
        }
      }
    }
  }
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.04rem;

  .board {
    width: calc(min(100vw, 100vh));
    height: calc(min(100vw, 100vh));
  }

  .players {
    width: calc(100vw - 100vh - 0.04rem);
    height: 100%;
    display: flex;
    flex-direction: column;

    .current-player {
      .current-player-background {
        height: 1.25rem;
        width: 1rem;
        padding: 0.015rem;
        border-radius: 0.045rem;

        .current-player-foreground {
          width: 100%;
          height: 100%;
          padding: 0.015rem;
          border-radius: 0.03rem;
          row-gap: 0.015rem; 

          .name {
            background: rgba(255, 255, 255, 0.4);
            border-radius: 0.015rem;
            text-transform: uppercase;
            text-align: center;
            font-size: 0.12rem;
            font-weight: 600;
            box-shadow: 0px 0px 4px 2px #00000014;
            padding: 0.006rem 0.015rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          .points {
            font-size: 0.3rem;
            background: rgba(0, 0, 0, 0.6);
            border-radius: 0.015rem;
            color: rgb(212, 212, 212);
            font-weight: bold;
            box-shadow: 0px 0px 4px 2px #00000014;
          }

          .scores {
            column-gap: 0.015rem;

            .score {
              row-gap: 0.015rem;

              .text {
                background: rgba(255, 255, 255, 0.4);
                border-radius: 0.015rem;
                font-size: 0.12rem;
                box-shadow: 0px 0px 4px 2px #00000014;
                height: 0.19rem;
                font-weight: 600;
              }
  
              .delete {
                border-radius: 0.015rem;
                border: none;
                font-size: 0.11rem;
                height: 0.15rem;
                cursor: pointer;
                background: rgba(255, 255, 255, 0.6);
                box-shadow: 0px 0px 4px 2px #00000014;
          
                @each $color in $colors {
                  &.#{nth($color, 1)} {
                    color: nth($color, 2);
            
                    &:hover {
                      color: #ffffff;
                      background-color: transparentize(nth($color, 2), 0.4);
                    }
                  }
                }
              }
            }
          }
        }
      }

      @each $color in $colors {
        &.#{nth($color, 1)} {
          .current-player-background {
            $top-color: #978a5d31;
            $transparent-color: transparentize(nth($color, 2), 0.5);
            background: linear-gradient(180deg, color.scale($top-color, $lightness: 10%), color.scale($transparent-color, $lightness: 10%));
  
            .current-player-foreground {
              background: linear-gradient(180deg, color.scale($top-color, $lightness: -20%), color.scale($transparent-color, $lightness: -20%));
            }
          }
        }
      }
    }

    .play-order {
      min-width: 0;
      max-width: 100%;
      height: auto;
      margin-right: 0.04rem;
      margin-bottom: 0.04rem;
      margin-left: 0;

      .list {
        display: flex;
        margin: 0 auto;
        
        .player {
          aspect-ratio: 1 / 1.25;
          min-width: 0.44rem;
          padding: 0.01rem;
          border-radius: 0.03rem;
          flex: 0 0 100px;
  
          &.is-selected {
            border: 0.01rem solid $color-selected;
            padding: 0;
          }
  
          .player-foreground {
            row-gap: 0.01rem;
            padding: 0.01rem;
            border-radius: 0.02rem;
    
            .name {
              text-align: center;
              text-transform: uppercase;
              background:rgba(255, 255, 255, 0.4);
              border-radius: 0.01rem;
              font-size: 0.06rem;
              box-shadow: 0px 0px 4px 2px #00000014;
              padding: 0.006rem 0.015rem;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
    
            .points {
              font-size: 0.1rem;
              background: rgba(0, 0, 0, 0.6);
              border-radius: 0.01rem;
              color: rgb(212, 212, 212);
              box-shadow: 0px 0px 4px 2px #00000014;
              font-weight: bold;
            }
    
            .previous-scores {
              column-gap: 0.01rem;
    
              .score {
                row-gap: 0.01rem;
    
                .text {
                  background: rgba(255, 255, 255, 0.4);
                  border-radius: 0.01rem;
                  font-size: 0.06rem;
                  box-shadow: 0px 0px 4px 2px #00000014;
                  height: 0.09rem;
                }
    
                .delete {
                  border-radius: 0.01rem;
                  border: none;
                  font-size: 0.045rem;
                  height: 0.065rem;
                  cursor: pointer;
                  background: rgba(255, 255, 255, 0.6);
                  box-shadow: 0px 0px 4px 2px #00000014;
            
                  @each $color in $colors {
                    &.#{nth($color, 1)} {
                      color: nth($color, 2);
              
                      &:hover {
                        color: #ffffff;
                        background: transparentize(nth($color, 2), 0.4);
                      }
                    }
                  }
                }
              }
            }
          }
  
          @each $color in $colors {
            &.#{nth($color, 1)} {
              $top-color: #978a5d31;
              $transparent-color: transparentize(nth($color, 2), 0.5);
              background: linear-gradient(180deg, color.scale($top-color, $lightness: 10%), color.scale($transparent-color, $lightness: 10%));
  
              .player-foreground {
                background: linear-gradient(180deg, color.scale($top-color, $lightness: -20%), color.scale($transparent-color, $lightness: -20%));
              }
            }
          }
        }
      }
    }
  }
}

@media (orientation: portrait) {
  .game {
    flex-direction: column;
    row-gap: 0.04rem;

    .players {
      width: 100%;
      height: calc(100vh - 100vw - 0.04rem);
      flex-direction: row-reverse;

      .play-order {
        height: 100%;
        width: auto;
        margin-right: 0;
        margin-bottom: 0.04rem;
        margin-left: 0.04rem;
        overflow-x: hidden;

        .list {
          flex-direction: column;
        }
      }
    }
  }
}

.statistics {
  position: relative;

  .confetti {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .title {
    font-size: 0.5rem;
  }

  .name {
    font-size: 0.4rem;
  }

  .fa-trophy {
    font-size: 0.4rem;
    color: $color-yellow;
  }

  .back-to-menu {
    max-width: 1.775rem;
    width: 60%;
    height: 0.237rem;
    font-size: 0.144rem;
    border: none;
    border-radius: 0.0355rem;
    cursor: pointer;

    @each $color in $colors {
      &.#{nth($color, 1)} {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.6));

        &:hover:not(:disabled) {
          color: #111111;
          background-color: transparentize(nth($color, 2), 0.3);
        }
      }
    }

  }
}